<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}タイトル{% endblock %}</title>
    {% load static %}
    <!-- 必要なページだけでCSSを読み込む -->
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <!-- 共通のナビゲーションバー -->
    <div class="navbar-top">
        <a href="{% url 'home' %}">Home</a>
    </div>
    <div class="navbar">
        <a href="{% url 'expense_list' %}">支出一覧</a>
        <a href="{% url 'income_list' %}">収入一覧</a>
        <a href="{% url 'patience_list' %}">スマートセーブ</a>
        <a href="{% url 'user_storage' %}">ユーザー登録</a>
    </div>

    <!-- 各ページ固有のコンテンツ -->
    <div id="content">
        {% block content %}
        <!-- 各ページの内容がここに表示されます -->
        {% endblock %}
    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>

