<!DOCTYPE html>
{% extends 'budget/base.html' %}
{% load static %} 
{% block title %}収入一覧{% endblock %}

{% block content %}
<h1>収入一覧</h1>

<link rel="stylesheet" href="{% static 'css/expense_list.css' %}">

<!-- 前月と次月へのリンクを追加 -->
<div style="text-align: center; margin: 10px 0;">
    <button onclick="location.href='?month={{ previous_month }}'" aria-label="前の月へ">← 前の月</button>
    <span style="margin: 0 15px;">{{ current_month }}</span>
    <button onclick="location.href='?month={{ next_month }}'" aria-label="次の月へ">次の月 →</button>
</div>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Amount (円)</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody>
        {% for income in incomes %}
        <tr>
            <td>{{ income.date }}</td>
            <td>{{ income.amount|floatformat:0 }} 円</td>
            <td>{{ income.source }}</td>
            <td>
                <a href="{% url 'edit_income' income.pk %}">編集</a>
                <a href="{% url 'delete_income' income.pk %}" onclick="return confirm('本当に削除してもよろしいですか？');">削除</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">データがありません。</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'add_income' %}">
    <button>収入の追加</button>
</a>

<div class="button-container">
    <a href="{% url 'source_list' %}">収入カテゴリ一覧</a>
    <a href="{% url 'home' %}">indexページに戻る</a>
</div>

{% endblock %}
