<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sources</title>
</head>
<body>
    <h1>収入カテゴリ一覧</h1>

    <table>
        <thead>
            <tr>
                <th>収入カテゴリ</th>
            </tr>
        </thead>
        <tbody>
            {% for source in sources %}
            <tr>
                <td>{{ source.name }}</td>
                <td>
                    <a href="{% url 'edit_source' source.pk %}">編集</a>
                    <a href="{% url 'delete_source' source.pk %}">削除</a>
                </td>
            {% empty %}
                <td>データがありません。</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>

    <button onclick="openPopup()">収入カテゴリを追加</button>

    <br>

    <a href="{% url 'income_list' %}">収入一覧</a>

    <script>
        function openPopup() {
            window.open("{% url 'add_source' %}", 'ポップアップ', 'width=600,height=400');
        }
    </script>
</body>
</html>
